<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/stylesheets/materialize.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <a href="/" class="brand-logo">CC</a>
          <ul class="right hide-on-med-and-down">
            <li><a href="/cafeterias">Index</a></li>
            <li><a href="#!">pholder</a></li>
            <li>
              <% if (user) { %>
                <a href="/logout"><i class="material-icons left">trending_flat</i>Log Out</a>
              <% } else { %>
                <a href="/auth/google"><i class="material-icons left">vpn_key</i>Login with Google</a>
              <% } %>
              </li>
          </ul>
        </div>
      </nav>
    </div>
  <div class="container">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p><br>

    <h2>create new cafeteria</h2>

    <!-- Modal Trigger -->
    <a class="waves-effect waves-light btn modal-trigger" href="#modal1">New Cafe Form</a>
    <!-- <button data-target="modal1" class="btn modal-trigger">Modal</button> -->

    <!-- Modal Structure -->
    <div id="modal1" class="modal modal-fixed-footer">
      <div class="modal-content">
        <h4>Modal Header</h4>
        <p>A bunch of text</p>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
      </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
          var elems = document.querySelectorAll('.modal');
          var instances = M.Modal.init(elems, options);
        });
    </script>
    
    <form action="/cafeterias" method="POST">
      <div class="row">
        <div class="input-field col s6">
          <input id="name" type="text" class="validate">
          <label for="name">Name of Establishment</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="123 YourAddress Street" id="location" type="text" class="validate">
          <label for="location">Location</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="insert image URL" id="image" type="text" class="validate">
          <label for="image">Upload Logo/Image</label>
        </div>
      </div>
      <div class="row">
        <p>
          <label for="dineIn">
            <input type="checkbox" id="dineIn"/>
            <span>Dine-in available?</span>
          </label>
        </p>
        <p class="range-field col s6">
          <label for="capacity">
            <span>Capacity</span>
            <input type="range" id="capacity" min="0" max="50" />
          </label>
        </p>
      </div>

    </form>
    
  </div>

    <script type="text/javascript" src="/javascripts/materialize.js"></script>
    <!-- <script src="/javascripts/script.js"></script> -->
  </body>
</html>
