/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
} */

body {
  background-color: #EEF5DB;
}

.deep-space {
  background-color: #4F6367;
}

.cadet-blue {
  background-color: #7A9E9F;
}

.beige {
  background-color: #EEF5DB;
}

.paradise-pink {
  background-color: #D14D65;
}